@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --logoblue: #0a336d;
    --logoyellow: #ceff00;
    --light: #f8f9fa;
    --dark: #212529;
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/soccer.webp') center/cover no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
    height: 70px;
    transition: 0.3s ease;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: unset;

        .left {
            display: flex;
            justify-content: center;

            a.navbar-brand {
                color: var(--light);
                font-family: 'Montserrat';
                font-weight: 1000;
                font-size: 25px;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: 0.3s ease;

                img {
                    width: 60px;
                    filter: brightness(100);
                }
            }
        }

        button.navbar-toggler {
            background: transparent;
            width: 65px;
            height: 50px;
            border: none !important;
            box-shadow: none !important;

            .line {
                position: absolute;
                width: 35px;
                height: 4px;
                border-radius: 20px;
                background-color: var(--logoblue);
                transition: 0.3s ease;
            }
            .line1 {
                transform: translateY(-10px);
            }
            .line3 {
                transform: translateY(10px);
            }
        }
        button.navbar-toggler.clicked {
            .line1 {
                transform: rotate(-45deg);
                margin-bottom: 0;
            }
            .line2 {
                opacity: 0;
                margin-bottom: 0;
            }
            .line3 {
                transform: rotate(45deg);
            }
        }

        .right {
            height: auto;
            display: flex;
            align-items: center;
            width: 100px;
            gap: 15px;
            width: auto;

            ul.navbar-nav {
                display: flex;
                align-items: center;

                li {
                    a {
                        font-family: 'Montserrat';
                        font-weight: 1000;
                        color: var(--light);
                        opacity: 1;
                        position: relative;
                    }
                }
            }

            .person {
                .outline-icon {
                    display: block;
                    fill: var(--light);
                }
                .fill-icon {
                    display: none;
                    fill: var(--light);
                }
            }
            .person:hover {
                .outline-icon {
                    display: none;
                }
                .fill-icon {
                    display: block;
                }
            }
        }
    }
}
.navbar.scrolled {
    background-color: var(--logoyellow);

    .container {
        a.navbar-brand {
            color: var(--logoblue);

            img {
                filter: brightness(1);
            }
        }

        button.navbar-toggler .line {
            background: var(--logoblue);
        }

        .right {
            ul {
                li {
                    a {
                        color: var(--logoblue);
                    }
                    a::after {
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        height: 5px;
                        width: 0;
                        background: var(--logoblue);
                        transition: 0.3s ease;
                        transform: translateX(-50%);
                    }
                    a.active::after {
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        height: 5px;
                        width: calc(100% + 2px);
                        background: var(--logoblue);
                        transform: translateX(-50%);
                    }
                    a:hover::after {
                        width: 100%;
                    }
                }
            }
            .person {
                .outline-icon {
                    display: block;
                    fill: var(--logoblue);
                }
                .fill-icon {
                    display: none;
                    fill: var(--logoblue);
                }
            }
            .person:hover {
                .outline-icon {
                    display: none;
                }
                .fill-icon {
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .navbar {
        background-color: var(--logoyellow);

        .container {
            .left {
                a.navbar-brand {
                    color: var(--logoblue);

                    img {
                        filter: brightness(1);
                    }
                }
            }
            .right {
                display: none;
            }
            button.navbar-toggler {
                display: block;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 70px;
    right: -300px;
    height: calc(100vh - 70px);
    width: 300px;
    background: var(--logoyellow);
    transition: 0.3s ease;
    border-left: 3px solid var(--dark);
    z-index: 9999;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .pages {
        a {
            padding: 15px;
            color: var(--logoblue);
            font-family: 'Montserrat';
            font-weight: bold;
            text-decoration: none;
            font-size: 25px;
        }
        a:hover {
            background-color: rgba(0, 0, 0, 0.30);
        }
    }
    .sign-in-container {
        padding: 15px;
        height: auto;
        width: 100%;

        a.sign-in {
            padding: 15px 50px;
            font-size: 18px;
            color: var(--light);
            background: linear-gradient(90deg, #0a336d, #1e90ff);
            border: none;
            border-radius: 200px;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 15px rgba(30, 144, 255, 0.8), 
                        0 0 30px rgba(30, 144, 255, 0.5);
            font-family: 'Montserrat';
            font-weight: 1000;
            text-decoration: none;
        }
        a.sign-in:hover {
            box-shadow: 0 0 25px rgba(30, 144, 255, 1), 
                        0 0 50px rgba(30, 144, 255, 0.7);
            transform: scale(1.1); /* Slight zoom effect */
        }
        a.sign-in:active {
            transform: scale(1.05); /* Reduce zoom effect on click */
            box-shadow: 0 0 15px rgba(30, 144, 255, 1);
        }
    }
}
.sidebar.show {
    right: 0;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
@media (max-width: 450px) {
    .sidebar {
        width: 100%;
        border: none;
        right: -100%;
    }
}
.sidebar-under {
    position: fixed;
    height: calc(100vh - 70px);
    width: 100%;
    top: 70px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 9998;
}
.sidebar-under.show {
    visibility: visible;
    opacity: 1;
}

header {
    height: 100vh;
    width: 100vw;
}
@media (max-width: 767px) {
    header {
        height: 50vh;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.card-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, transparent, var(--light) 50%);
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    .cards {
        width: max-content;
        height: 480px;
        display: flex;
        align-items: center;
        gap: 20px;
        scroll-behavior: smooth;
        animation: slide 20s infinite linear;
    
        .item {
            flex-shrink: 0;
            height: 450px;
            width: 300px;
            background: var(--logoblue);
            border: 2px solid rgba(248, 249, 250, 0.5);
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            text-wrap: wrap;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease;
    
            .overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, transparent 35%, rgba(0, 0, 0, 0.85));
                display: flex;
                align-items: end;
                justify-content: center;
            
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px;
                    height: auto;
                    width: 100%;
    
                    p {
                        font-family: 'Montserrat';
                        font-weight: bold;
                        color: var(--light);
                        font-size: 26px;
                    }
    
                    a {
                        background: var(--logoyellow);
                        width: auto;
                        color: var(--logoblue);
                        font-family: 'Montserrat';
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 10px 15px;
                        width: max-content;
                        font-size: 14px;
                    }
                }
            }
        }
        .item:nth-child(1) {
            background: url('images/soccer.webp') center/cover no-repeat;
            margin-left: 19px;
        }
        .item:nth-child(2) {
            background: url('images/tifo.jpg') center/cover no-repeat;
        }
        .item:nth-child(3) {
            background: url('images/meta\ ai.webp') center/cover no-repeat;
        }
        .item:hover {
            scale: 1.015;
        }
    }
}
.card-container::-webkit-scrollbar {
    display: none;
}
.card-container:hover .cards {
    animation-play-state: paused;
}
@media (max-width: 767px) {
    .card-container {
        scale: 0.8;
        width: calc(100% + 30%);
        transform-origin: bottom left;
    }
}

footer {
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .links {
        display: flex;
        justify-content: space-evenly;

        .link-column {
            display: flex;
            flex-direction: column;

            a {
                font-family: 'Montserrat';
                font-weight: bold;
                text-decoration: none;
                color: var(--light);
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    .bottom {
        color: rgba(248, 249, 250, 0.5);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}